<app-bread-crumb
  [items]="[
    { text: 'Categorias', link: '/categories' },
    { text: 'Formulario de categorias' }
  ]"
></app-bread-crumb>

<app-page-header
  [pageTitle]="pageTitle"
  buttonText="<< Voltar"
  buttonClass="btn-light"
  buttonLink="/categories"
></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">Informações sobre a categoria</div>
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="name">Nome</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          formControlName="name"
        />
        <div
          class="text-danger"
          *ngIf="
            resourceForm.get('name').invalid && resourceForm.get('name').touched
          "
        >
          <div *ngIf="resourceForm.get('name').errors.required">
            Dados obrigatório
          </div>
          <div *ngIf="resourceForm.get('name').errors.minlength">
            deve ter no minimo dois caracteres
          </div>
        </div>
      </div>
      <div class="form-group col-md-8">
        <label for="description">Descrição</label>
        <input
          type="text"
          id="description"
          class="form-control"
          formControlName="description"
        />
      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessagers">
    <strong>Erro no Servidor</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessagers">{{ error }}</li>
    </ul>
  </div>

  <button
    [disabled]="submitiingForm || resourceForm.invalid"
    type="submit"
    class="btn btn-primary btn-lg float-right at-3"
  >
    Enviar
  </button>
</form>
