<app-bread-crumb
  [items]="[
    { text: 'Categorias', link: '/categories' },
    { text: 'Formulario de categorias' }
  ]"
></app-bread-crumb>

<app-page-header
  [pageTitle]="pageTitle"
  buttonText="<< Voltar"
  buttonClass="btn-light"
  buttonLink="/categories"
></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">Informações sobre a categoria</div>
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="name">Nome</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          formControlName="name"
        />
        <app-form-field-error
          [control]="resourceForm.get('name')"
        ></app-form-field-error>
      </div>
      <div class="form-group col-md-8">
        <label for="description">Descrição</label>
        <input
          type="text"
          id="description"
          class="form-control"
          formControlName="description"
        />
      </div>
    </div>
  </div>

  <app-server-error-messages
    [serverErrorMessages]="serverErrorMessages"
  ></app-server-error-messages>

  <button
    [disabled]="submitiingForm || resourceForm.invalid"
    type="submit"
    class="btn btn-primary btn-lg float-right at-3"
  >
    Enviar
  </button>
</form>
